<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.livingguide.dao.PermissionDAO">

	<resultMap id="UpermissionResultMap" type="com.livingguide.vo.PermissionPO">
		<result property="id" column="id" />
		<result property="url" column="url" />
		<result property="name" column="name" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Upermission_columns">
	    <![CDATA[
		id,url,name
	    ]]>
	</sql>

	<!-- 新增 -->
	<insert id="create">
	    <![CDATA[
	        INSERT INTO u_permission (
	        	id ,
	        	url ,
	        	name 
	        ) VALUES (
	        	#{id} ,
	        	#{url} ,
	        	#{name} 
	        )
	   	 ]]>
	</insert>

	<update id="update">
	    <![CDATA[
	        UPDATE u_permission SET
		        url = #{url} ,
		        name = #{name} 
	        WHERE 
		        id = #{id} 
	   	 ]]>
	</update>

	<delete id="delete">
	    <![CDATA[
	        DELETE FROM u_permission WHERE
	        id = #{id} 
	    ]]>
	</delete>

	<select id="getById" resultMap="UpermissionResultMap">
		SELECT
		<include refid="Upermission_columns" />
	    <![CDATA[
		    FROM u_permission 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>

	<sql id="query_where">
		<where>
			<if test="@com.livingguide.Ognl@isNotEmpty(id)">
				AND id = #{id}			</if>
			<if test="@com.livingguide.Ognl@isNotEmpty(url)">
				AND url = #{url}			</if>
			<if test="@com.livingguide.Ognl@isNotEmpty(name)">
				AND name = #{name}			</if>
		</where>
	</sql>

	<select id="queryByPage" resultMap="UpermissionResultMap">
		SELECT
		<include refid="Upermission_columns" />
		FROM u_permission
		<include refid="query_where" />
	</select>

</mapper>

